@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    @apply font-gilroy;
  }
}

.nav-link {
  color: black;
  transition: color 0.3s, border-bottom 0.6s;
}

.nav-link:hover {
  color: red;
  border-bottom: 2px solid red;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-red:hover {
  background-color: black;
  color: white;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
